body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f4f8fb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

* {
  box-sizing: border-box;/*  padding and border in w ,not jump , to remove default shadow ,
  css custoom variables ,forcing,to remove blue colour from the buton when clicked*/
  scroll-behavior: smooth; 
}

.btn:hover {
  box-shadow: unset !important;
}

input[type="button"] {
  outline: none !important;
}

button::selection {
  outline: none !important;
}

.btn::selection {
  outline: none;
}

button:focus {
  outline: none !important;
}

:root {
  --vp: 0.052vw; 
  --vm: 0.278vw;
}
